@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";
@import "fonts";

body {
  height: 100vh;
  font: var(--font-m);
  color: var(--primary-color);
}

#root {
  height: 100%;
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
  height: 100%;
}

.page-content {
  display: flex;
  padding: 15px;
}

.page-wrapper {
  flex: 1;
  padding: 15px;
}
