@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import "fonts";

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

.page-content {
  display: flex;
  padding: 15px;
}

.page-wrapper {
  flex: 1;
  padding: 15px;
}
