@import "./reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";
@import "./fonts";
@import "./themes/dusk";

body {
  height: 100vh;
  //font: var(--font-m);
  //color: var(--primary-color);
  overflow-x: hidden;
}

#root {
  height: 100%;
}

.app_redesigned,
.app {
  min-height: 100vh;
  height: 100%;
}

.app {
  background: var(--bg-color);
  color: var(--primary-color);
  font: var(--font-m);
}

.app_redesigned {
  background: var(--bq-redesigned);
  color: var(--text-redesigned);
  font: var(--font-m-redesigned);
}

.app_drawer {
  color: var(--inverted-primary-color);
}

.page-content {
  display: flex;
}
