.options {
  list-style: none;
}

.trigger {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  min-width: 125px;
  padding-block: 0;
  white-space: nowrap;
}

.item {
  position: relative;
  padding: 8px 16px;
  cursor: pointer;
  line-height: 1.1;
  background-color: inherit;

  &[aria-disabled="true"] {
    opacity: 0.5;
    pointer-events: none;
  }

  &.active,
  &.selected {
    background-color: var(--light-bg-redesigned);
  }
}
