.options {
  list-style: none;
  min-width: auto;
}

.trigger {
  white-space: nowrap;
}

.item {
  position: relative;
  padding: 7px 16px;
  cursor: pointer;
  line-height: 1.1;
  background-color: inherit;

  &[aria-disabled="true"] {
    opacity: 0.5;
    pointer-events: none;
  }

  &.active,
  &.selected {
    background-color: var(--light-bg-redesigned);
  }
}
