.starRating {
  .hovered path {
    fill: var(--inverted-primary-color);
    color: var(--inverted-primary-color);
  }

  .star path {
    stroke: var(--inverted-primary-color);
  }
}

.starRatingRedesigned {
  .hovered path {
    fill: var(--icon-redesigned);
    color: var(--icon-redesigned);
  }

  .star path {
    stroke: var(--icon-redesigned);
  }
}

.hovered {
  cursor: pointer;
}

.selected {
  cursor: default;
}
