.starRatingRedesigned {
  .hovered path {
    fill: var(--icon-redesigned);
    color: var(--icon-redesigned);
  }

  .star path {
    stroke: var(--icon-redesigned);
  }
}

.hovered {
  cursor: pointer;
}

.selected {
  cursor: default;
}
