.drawer {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

.sheet {
  position: fixed;
  left: 2vw;
  height: calc(100vh + 100px);
  width: 96vw;
  border-radius: 28px;
  z-index: 99999;
  touch-action: none;
}

.dragger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
}


.newDrawer {
  .sheet {
    background-color: var(--dark-bg-redesigned);
  }

  .dragger {
    background-color: var(--light-bg-redesigned);
  }
}

.oldDrawer {
  .sheet {
    background-color: var(--bg-color);
  }

  .dragger {
    background-color: var(--inverted-bg-color);
  }
}

.dragger::after {
  content: "";
  width: 150px;
  height: 2px;
  border-radius: 30px;
  background-color: var(--accent-redesigned);
}
