.addComponentForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  border: 1px solid var(--primary-color);
  column-gap: 20px;
}

.input {
  flex: 1;
}

.addComponentFormRedesigned {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
