.menu {
  min-width: 150px;
  overflow: hidden;
  background-color: var(--dark-bg-redesigned);
  border-radius: 19px;
  border: 1px solid var(--accent-redesigned);
  box-shadow: 0px 3px 10px 0px rgba(16, 55, 163, 0.60);
}