.menu {
  min-width: 125px;
  overflow: hidden;
  background-color: var(--dark-bg-redesigned);
  border-radius: 19px;
  border: 2px solid var(--accent-redesigned);
  box-shadow: 0 3px 10px 0 rgb(16 55 163 / 60%);
}
