.sidebar {
  position: relative;
  flex: 0 1 var(--sidebar-width);
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  padding: 15px;
  background-color: var(--inverted-bg-color);
  transition: flex-basis 0.2s ease, width 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.collapsed {
    flex: 0 1 var(--sidebar-collapsed-width);
    width: var(--sidebar-collapsed-width);
  }
}

.switchers {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.toggleBtn {
  position: absolute;
  bottom: 35px;
  right: -32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleIcon {
  pointer-events: none;
  transform: rotate(180deg);
  stroke: var(--inverted-primary-color);
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.collapsed {
  .toggleIcon {
    transform: rotate(0deg);
  }

  .switchers {
    flex-direction: row;
  }
}
