.item {
  display: flex;
  align-items: center;
  column-gap: 15px;
  font-size: 17px;
  text-decoration: none;

  span {
    display: none;
  }

  &.collapsed {
    span {
      display: block;
    }
  }
}

.itemIcon {
  transform: scale(1.5);

  path,
  g {
    fill: var(--inverted-primary-color);
  }
}
