.itemRedesigned {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 16px;
  transition: padding 0.2s ease-out;

  span {
    flex-shrink: 0;
  }

  &.collapsedRedesigned {
    padding: 0 8px;

    span {
      display: none;
    }
  }

  .itemIcon {
    flex-shrink: 0;
  }
}

.active {
  border-left: 2px solid var(--accent-redesigned);
  background: linear-gradient(90deg, rgb(94 211 243 / 30%) 1.15%, rgb(94 211 243 / 0%) 99.97%);
}
