.pageError {
  display: grid;
  place-items: center;
  width: 100%;
  height: calc(100vh - var(--navbar-height));
  text-align: center;

  h1 {
    margin-bottom: 30px;
    color: var(--primary-color);
  }
}
