.stickyLayout {
  display: grid;
  grid-template-areas: "left content right";
  grid-template-columns: min-content 1fr min-content;
  gap: 16px;
}

.left,
.right {
  position: sticky;
  top: 32px;
  left: 0;
  height: 100vh;
}

.left {
  grid-area: left;
}

.content {
  grid-area: content;
  max-width: 1200px;
  width: 100%;
  justify-self: center;
}

.right {
  width: 264px;
  grid-area: right;
}
