.profileCard {
  padding: 25px;
  border: 2px solid var(--inverted-bg-color);

  &.editing {
    border: 2px solid var(--inverted-secondary-color);
  }
}

.loading,
.error {
  display: grid;
  place-items: center;
  height: 300px;
}
