.drawer {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.content {
  position: relative;
  z-index: var(--modal-z-index);
  width: 100%;
  height: 70%;
  padding: 20px 15px;
  background-color: var(--primary-color);
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  transform: translateY(100%);
  transition: transform 0.2s ease;
}


.opened {
  opacity: 1;
  pointer-events: auto;
}

.enter {
  transform: translateY(100%);
}

.enterActive {
  transform: translateY(0);
}

.enterDone {
  transform: translateY(0);
}

.exit {
  transform: translateY(0);
}

.exitActive {
  transform: translateY(100%);
}
