.app_dark_theme {
  --bg-color: #090949;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #04ff04;
  --secondary-color: #049604;
  --inverted-primary-color: #105aff;
  --inverted-secondary-color: #0232c2;
  --theme-switcher-fill: #090949;
  --skeleton-bg-color: #105aff;
  --skeleton-bg-shimmer-color: #0232c2;
  --code-bg: #0707a2;
  --card-bg: #1b1b89;
  --listbox-bg: #1b1b89;
  --dark-bg-redesigned: #090f11;
  --bq-redesigned: #0c1214;
  --light-bg-redesigned: #151c1f;
  --text-redesigned: #dbdbdb;
  --hint-redesigned: #555;
  --cancel-redesigned: #d95757;
  --save-redesigned: #6cd98b;
  --cancel-redesigned-darken: #{darken(#f77, 20%)};
  --save-redesigned-darken: #{darken(#62de85, 20%)};
  --icon-redesigned: #74a2b2;
  --accent-redesigned: #5ed3f3;
}
