.app_dark_theme {
  --bg-color: #090949;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #04ff04;
  --secondary-color: #049604;
  --inverted-primary-color: #105aff;
  --inverted-secondary-color: #0232c2;
  --theme-switcher-fill: #090949;
  --skeleton-bg-color: #105aff;
  --skeleton-bg-shimmer-color: #0232c2;
  --code-bg: #0707a2;
  --card-bg: #1b1b89;
  --listbox-bg: #1b1b89;

  //redesigned

  --dark-bg-redesigned: #090F11;
  --bq-redesigned: #0C1214;
  --light-bg-redesigned: #151C1F;
  --text-redesigned: #DBDBDB;
  --hint-redesigned: #555555;
  --cancel-redesigned: #D95757;
  --save-redesigned: #6CD98B;
  --icon-redesigned: #74A2B2;
  --accent-redesigned: #5ED3F3;
}
