.app_dark_theme {
  --bg-color: #090949;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #04ff04;
  --secondary-color: #049604;
  --inverted-primary-color: #105aff;
  --inverted-secondary-color: #0232c2;
  --theme-switcher-fill: #090949;
  --skeleton-bg-color: #105aff;
  --skeleton-bg-shimmer-color: #0232c2;
}
