.app_dusk_theme {
  --bg-color: #ededf8;
  --inverted-bg-color: #4b4e71;
  --primary-color: #4b4e71;
  --inverted-primary-color: #ededf8;
  --secondary-color: #3b4f59;
  --inverted-secondary-color: #3b4f59;
  --theme-switcher-fill: #090949;
}
