.app_dusk_theme {
  --dark-bg-redesigned: #fff3d6;
  --bq-redesigned: #f0c048;
  --light-bg-redesigned: #f2d791;
  --text-redesigned: #1b1311;
  --hint-redesigned: #ff5e5e;
  --cancel-redesigned: #ff5e5e;
  --save-redesigned: #52fa81;
  --cancel-redesigned-darken: #{darken(#f77, 20%)};
  --save-redesigned-darken: #{darken(#62de85, 20%)};
  --icon-redesigned: #4875f0;
  --accent-redesigned: #1d59ff;
}
