.app_dusk_theme {
  --bg-color: #4b4e71;
  --inverted-bg-color: #ededf8;
  --primary-color: #ededf8;
  --inverted-primary-color: #4b4e71;
  --secondary-color: #dbdbe1;
  --inverted-secondary-color: #3b4f59;
  --theme-switcher-fill: #090949;
  --skeleton-bg-color: #878787;
  --skeleton-bg-shimmer-color: #fdfdfd;
  --code-bg: #f9f9fa;
  --card-bg: #aeacac;
  --listbox-bg: #f9f9fa;
  --dark-bg-redesigned: #fff3d6;
  --bq-redesigned: #f0c048;
  --light-bg-redesigned: #f2d791;
  --text-redesigned: #1b1311;
  --hint-redesigned: #ff5e5e;
  --cancel-redesigned: #ff5e5e;
  --save-redesigned: #52fa81;
  --icon-redesigned: #4875f0;
  --accent-redesigned: #1d59ff;
}
