.content {
  max-width: 60%;
  padding: 15px;
  border-radius: 15px;
  transform: scale(0.5);
  transition: transform 0.2s ease-in;
}

.modal {
  position: fixed;
  inset: 0;
  z-index: -1;
  display: grid;
  place-items: center;
  pointer-events: none;
  opacity: 0;
  transition: all 0.2s ease-in;
  transition-property: opacity, z-index;
  color: var(--inverted-primary-color);

  &.opened {
    z-index: var(--modal-z-index);
    pointer-events: auto;
    opacity: 1;

    .content {
      transform: scale(1);
    }
  }
}

.newModal {
  .content {
    background-color: var(--light-bg-redesigned);
  }
}

.oldModal {
  .content {
    background-color: var(--bg-color);
  }
}
