.icon {
  //display: flex;
  //align-items: center;
  fill: var(--primary-color);

  path {
    fill: inherit;
  }
}

.inverted {
  fill: var(--inverted-primary-color);

  path {
    fill: inherit;
  }
}
