.navbar {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: var(--inverted-bg-color);
  height: var(--navbar-height);
}

.links {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 5px;
}

.logo {
  width: var(--sidebar-collapsed-width);
  text-align: center;
  font-size: 25px;
}
