.button {
  cursor: pointer;
  padding: 7px 16px;
  color: var(--text-redesigned);
  text-align: left;

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }

  &:is(.withLeftAddon, .withRightAddon) {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-block: 0;
  }

  :is(.addonLeft, .addonRight) {
    display: flex;
  }

  :is(.addonLeft, .addonRight) svg {
    color: var(--hint-redesigned);
    fill: var(--hint-redesigned);
  }

  &:hover {
    color: var(--accent-redesigned);
  }
}

.clear {
  background: none;
  border: none;
  outline-color: transparent;
}

.outline {
  border: 2px solid var(--icon-redesigned);
  background-color: transparent;
}

.outline:hover {
  border-color: var(--accent-redesigned);
}

.filled {
  border: none;
  outline-color: transparent;
  background-color: var(--light-bg-redesigned);
}

.fullWidth {
  width: 100%;
}

.normal {
  border-radius: 16px;
}

.round {
  border-radius: 32px;
}

.left {
  text-align: left;
}

.right {
  text-align: left;
}

.center {
  text-align: center;
}

.M {
  font: var(--font-m-redesigned);
}

.L {
  font: var(--font-l-redesigned);
}

.XL {
  font: var(--font-xl-redesigned);
}
