.articlesList {
  flex: 1;
  margin-top: 25px;

  [data-viewport-type="element"] {
    padding: 15px 40px;
  }
}

.GRID {
  //display: flex;
  //flex-wrap: wrap;
  //gap: 15px 35px;
}

.LIST {
  .card {
    margin-bottom: 25px;
  }
}

.gridList {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.gridListItem {
  width: 250px;
  //display: flex;
  //flex: none;
  //align-content: stretch;
  //box-sizing: border-box;

  @media (max-width: 1024px) {
    width: 50%;
  }

  @media (max-width: 300px) {
    width: 100%;
  }
}
