.inputWrapper {
  display: flex;
  align-items: center;
  padding: 5px 16px;
  border: 2px solid var(--icon-redesigned);
  border-radius: 48px;

  &:not(.readOnly):focus-within {
    border-color: var(--accent-redesigned);

    :is(.addonLeft svg, .addonRight svg) {
      color: var(--accent-redesigned);
      fill: var(--accent-redesigned);
    }
  }

  &:is(.withLeftAddon, .withRightAddon) {
    padding-block: 0;
  }

  :is(.addonLeft, .addonRight) {
    display: flex;
  }

  &.withLeftAddon {
    padding-left: 8px;
  }

  &.withRightAddon {
    padding-right: 8px;
  }

  &.readOnly {
    opacity: 0.7;
  }
}

.input {
  width: 100%;
  height: 18px;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--text-redesigned);

  &::placeholder {
    color: var(--hint-redesigned);
  }
}
